body
{
    margin: 0;
}

#id-canvas
{
    position: absolute;
    left: 0;
    top: 40px;
    border:2px solid grey;
}

#buttons{
  width: 1000px;
  border:2px solid grey;
  background-color: grey;
  height: 38px;
}

.button {
  height: 38px;
  background-color: grey;
  color: white;
  font-family: "Courier New";
  font-size: 25px;

  border: none;
}

.button:hover {
  border: 2px solid white;
}

.tile{
  background-color: black;
  z-index: 1;
}

#score{
  color: white;
  font-family: "Courier New";
  font-size: 25px;
  position:absolute;
  left: 30px;
  top: 10px;
}
